In [134]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.utils import resample
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

In [135]:
#CSV data from keggle 4 files
plant1_Gen = pd.read_csv('https://github.com/Mcristina1203/Data-Science-Final/raw/master/Plant_1_Generation_Data.csv')

In [150]:
plant2_Gen = pd.read_csv('https://github.com/Mcristina1203/Data-Science-Final/raw/master/Plant_2_Generation_Data.csv')

In [151]:
plant1_W = pd.read_csv('https://github.com/Mcristina1203/Data-Science-Final/raw/master/Plant_1_Weather_Sensor_Data.csv')

In [152]:
plant2_W = pd.read_csv('https://github.com/Mcristina1203/Data-Science-Final/raw/master/Plant_1_Weather_Sensor_Data.csv')

In [153]:
plant1_Gen[0::20]

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0
20,15-05-2020 00:00,4135001,zVJPv84UY57bAof,0.0,0.0,0.0,7116151.0
40,15-05-2020 00:15,4135001,zBIq5rxdHJRwDNY,0.0,0.0,0.0,6339380.0
60,15-05-2020 00:30,4135001,z9Y9gH1T5YWrNuG,0.0,0.0,0.0,7007866.0
80,15-05-2020 00:45,4135001,wCURE6d3bPkepu2,0.0,0.0,0.0,6782598.0
...,...,...,...,...,...,...,...
68680,17-06-2020 22:45,4135001,iCRJl6heRkivqQ3,0.0,0.0,5957.0,7426263.0
68700,17-06-2020 23:00,4135001,adLQvlD726eNBSB,0.0,0.0,6110.0,6524508.0
68720,17-06-2020 23:15,4135001,ZnxXDlPa8U1GXgE,0.0,0.0,5929.0,6770737.0
68740,17-06-2020 23:30,4135001,WRmjgnKYAwPKWDb,0.0,0.0,5953.0,7273532.0
68760,17-06-2020 23:45,4135001,McdE0feGgRqW7Ca,0.0,0.0,5992.0,7408587.0

In [154]:
plant1_W[0::20]

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4135001,HmiyD2TTLFNqkNe,25.184316,22.857507,0.000000
20,2020-05-15 05:00:00,4135001,HmiyD2TTLFNqkNe,24.177106,22.551908,0.000000
40,2020-05-15 10:00:00,4135001,HmiyD2TTLFNqkNe,28.632192,52.547736,0.670675
60,2020-05-15 15:00:00,4135001,HmiyD2TTLFNqkNe,33.890576,46.029081,0.398889
80,2020-05-15 20:00:00,4135001,HmiyD2TTLFNqkNe,22.663180,20.290726,0.000000
...,...,...,...,...,...,...
3100,2020-06-17 03:30:00,4135001,HmiyD2TTLFNqkNe,22.771295,22.362781,0.000000
3120,2020-06-17 08:30:00,4135001,HmiyD2TTLFNqkNe,24.255999,32.832243,0.275448
3140,2020-06-17 13:30:00,4135001,HmiyD2TTLFNqkNe,28.954923,44.689929,0.659398
3160,2020-06-17 18:30:00,4135001,HmiyD2TTLFNqkNe,23.840239,22.968658,0.007007
3180,2020-06-17 23:30:00,4135001,HmiyD2TTLFNqkNe,21.969495,20.734963,0.000000

In [155]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=3)

In [156]:
features = [
    'DATE_TIME',
    'PLANT_ID', 
    'AMBIENT_TEMPERATURE',
    'MODULE_TEMPERATURE'
    
]
x = plant1_W[features]
y = plant1_W['IRRADIATION']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.35, random_state=3)

print(x_train.shape)
print(y_train.shape)


print(x_test.shape)
print(y_test.shape)

(2068, 4)
(2068,)
(1114, 4)
(1114,)

In [157]:
features = [
    'DATE_TIME',
    'PLANT_ID', 
    'SOURCE_KEY',
    'DC_POWER', 
    'AC_POWER', 
    'DAILY_YIELD'
    
]
x = plant1_Gen[features]
y = plant1_Gen['TOTAL_YIELD']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.35, random_state=3)

print(x_train.shape)
print(y_train.shape)


print(x_test.shape)
print(y_test.shape)

(44705, 6)
(44705,)
(24073, 6)
(24073,)

In [158]:
logreg = LogisticRegression(solver='liblinear', multi_class='auto')

In [159]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=45, random_state=32)

In [160]:
my_RandomForest = RandomForestClassifier(n_estimators = 19, bootstrap = True, random_state=2)